@import "./rainbow.scss";

:root:root {
	--vp-c-brand: #00a98e;
	--vp-c-brand-1: #00a98e;
	--vp-c-brand-light: #4ad1b4;
	--vp-c-brand-lighter: #78fadc;
	--vp-c-brand-dark: #008269;
	--vp-c-brand-darker: #005d47;
	--vp-c-brand-next: #009ff7;
	animation: rainbow 36s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
	:root {
		animation: none !important;
	}
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */
:root:root {
	--vp-button-brand-border: var(--vp-c-brand-light);
	--vp-button-brand-text: var(--vp-c-white);
	--vp-button-brand-bg: var(--vp-c-brand);
	--vp-button-brand-hover-border: var(--vp-c-brand-light);
	--vp-button-brand-hover-text: var(--vp-c-white);
	--vp-button-brand-hover-bg: var(--vp-c-brand-light);
	--vp-button-brand-active-border: var(--vp-c-brand-light);
	--vp-button-brand-active-text: var(--vp-c-white);
	--vp-button-brand-active-bg: var(--vp-button-brand-bg);
}
